<nav class="navbar navbar-dark navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand display-1 text-white m-lg-2 fw-bold fst-italic fs-1" routerLink="/">Dev-Casanova</a>
      <button
        class="navbar-toggler active border-white"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="true"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon border-white"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a
            class="nav-link active text-white fs-3 fw-lighter"
            routerLink="/home"
            routerLinkActive="active"
            aria-current="page"
          >
            <p>Home</p>
          </a>
          <a
            class="nav-link active text-white fs-3 fw-lighter"
            routerLink="/about"
            routerLinkActive="active"
            aria-current="page"
          >
            <p>Habilidades</p>
          </a>
          <a
            class="nav-link active text-white fs-3 fw-lighter"
            routerLink="/experience"
            routerLinkActive="active"
            aria-current="page"
          >
            <p>Experiencia</p>
          </a>
          <a
            class="nav-link active text-white fs-3 fw-lighter"
            routerLink="/education"
            routerLinkActive="active"
            aria-current="page"
          >
            <p>Educación</p>
          </a>
          <a
            class="nav-link active text-white fs-3 fw-lighter"
            routerLink="/projects"
            routerLinkActive="active"
            aria-current="page"
          >
            <p>Proyectos</p>
          </a>
          <a
            class="nav-link active text-white fs-3 fw-light"
            routerLink="/contact"
            routerLinkActive="active"
            aria-current="page"
          >
            <p>Contacto</p>
        </a>
        </div>
      </div>
    </div>
  </nav>
  