<div class="vw-100" id="home">
    <section class="profile-section container">
        <div class="row flex-row-reverse justify-content-md-center">
            <div class="col-md-12 col-xl-6 profile-text order-md-2">
                <h3 class="text-white hi">Hola !!!</h3>
                <h1 class="text-white">Soy Luis David Casanova Chavez</h1>
                <h3>Professional Developer Mobile - Developer Frontend</h3>
                <p class="justify text-white description">Soy ingeniero en sistemas computacionales con +4.5 años de experiencia laboral en el 
                  ámbito de desarrollo de software y soporte técnico, e desempeñado varias funciones, entre ellas soporte, atención al 
                  cliente. Así mismo tengo experiencia en desarrollo frontend de aplicaciones web y móviles utilizando Angular,js, 
                  ReactNative y React.js. Soy resilente al cambio tecnológico por lo que me adapto rápidamente a nuevos entornos de trabajo 
                  y me gusta la aportación de conocimiento a la comunidad. Estoy interesado en aprender nuevos conceptos de desarrollo y 
                  manejo de nuevas tecnologías, para seguir creciendo profesionalmente. 
                  <a class="ref-contact" href="/contact">Contacto</a>
                </p>
              </div>
              <div class="col-md-6 d-flex profile-text-2 flex-column align-items-center order-md-1">
                <div>
                  <img 
                    src="assets/images/devCasanova1.jpeg" 
                    alt="devCasanova1" 
                    class="profile-img"
                  >
                </div>
                <div class="mt-4 text-center message-profile d-md-none d-xl-block">
                  <blockquote class="blockquote text-white">
                    <p>"El aprendizaje continuo es el motor de la excelencia profesional."</p>
                    <footer class="blockquote-footer text-info">Luis David Casanova</footer>
                  </blockquote>
                </div>
              </div>   
        </div>
      </section>
</div>

