<div class="vw-100" id="about">
    <div class="container">
        <div class="row justify-content-center text-center text-white">
            <div class="text-center text-white mb-4">
                <h2 class="fw-bold language-name text-white fs-1 fs-sm-5">Habilidades técnicas</h2>
                <h3 class="text-start fw-light">Lenguajes</h3>
            </div>
        </div>
        <div class="row text-center justify-content-center">
            <!-- JavaScript -->
            <div class="col-3 col-md-2 col-lg-1 col-xl-2 p-lg-3">
                <div class="px-3 border rounded border-0">
                    <img src="assets/icons/javascript.svg" class="fs-1 img-fluid" [attr.width]="isMobile ? 50 : 80" 
                        [attr.height]="isMobile ? 50 : 80"  alt="JavaScript">
                    <p class="fw-bold language-name language-name text-white mt-xl-4">JavaScript (ES6+)</p>
                </div>
            </div>
            <div class="col-3 col-md-2 col-lg-1 col-xl-2 p-lg-3">
                <div class="px-3  border rounded border-0">
                    <img src="assets/icons/typescript.svg" class="fs-1 img-fluid" [attr.width]="isMobile ? 50 : 80" 
                        [attr.height]="isMobile ? 50 : 80"  alt="TypeScript">
                    <p class="fw-bold language-name language-name text-white mt-xl-4">TypeScript</p>
                </div>
            </div>
            <!-- Dart -->
            <div class="col-3 col-md-2 col-lg-1 col-xl-2 p-lg-3">
                <div class="px-2 img border rounded border-0">
                    <img src="assets/icons/dart.svg" class="fs-1 img-fluid" [attr.width]="isMobile ? 50 : 80" 
                        [attr.height]="isMobile ? 50 : 80"  alt="Dart">
                    <p class="fw-bold language-name language-name text-white">Dart</p>
                </div>
            </div>
            <!-- PHP -->
            <div class="col-3 col-md-2 col-lg-1 col-xl-2 p-lg-3">
                <div class="px-1 img border rounded border-0">
                    <img src="assets/icons/php.svg" class="fs-1 img-fluid" [attr.width]="isMobile ? 50 : 80" 
                        [attr.height]="isMobile ? 50 : 80"  alt="PHP">
                    <p class="fw-bold language-name language-name text-white">PHP</p>
                </div>
            </div>
            <!-- HTML5 -->
            <div class="col-3 col-md-2 col-lg-1 col-xl-2 p-lg-3">
                <div class="px-1 img border rounded border-0">
                    <img src="assets/icons/html-5.svg" class="fs-1 img-fluid" [attr.width]="isMobile ? 50 : 80" 
                        [attr.height]="isMobile ? 50 : 80"  alt="HTML5">
                    <p class="fw-bold language-name language-name text-white">HTML5</p>
                </div>
            </div>
            <!-- CSS3 -->
            <div class="col-3 col-md-2 col-lg-1 col-xl-2 p-lg-3">
                <div class="px-1 img border rounded border-0 mx-auto">
                    <img src="assets/icons/css3.svg" class="fs-1 img-fluid" [attr.width]="isMobile ? 50 : 80" 
                        [attr.height]="isMobile ? 50 : 80"  alt="CSS3">
                    <p class="fw-bold language-name language-name text-white">CSS3</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center text-center text-white">
                <div class="text-center text-white mb-4">
                    <h3 class="text-start fw-light">Frameworks y bibliotecas:</h3>
                </div>
            </div>
            <div class="row justify-content-around text-center">
                <!-- React.js y React-Native -->
                <div class="col-4 col-md-2 col-lg-1 col-xl-2 p-lg-3">
                    <div class="px-3 img border rounded border-0">
                        <img src="assets/icons/React.svg" class="fs-1" 
                        [attr.width]="isMobile ? 50 : 80" 
                        [attr.height]="isMobile ? 50 : 80" 
                        alt="React.js y React-Native">
                        <p 
                        class="fw-bold language-name text-white">  React.js</p>
                    </div>
                </div>
                <!-- Flutter -->
                <div class="col-4 col-md-2 col-lg-1 col-xl-2 p-lg-3">
                    <div class="px-3 img border rounded border-0">
                        <img src="assets/icons/flutter.svg" class="fs-1" [attr.width]="isMobile ? 50 : 80" 
                        [attr.height]="isMobile ? 50 : 80"  alt="Flutter">
                        <p class="fw-bold language-name language-name text-white">Flutter</p>
                    </div>
                </div>
                <!-- Angular -->
                <div class="col-4 col-md-2 col-lg-1 col-xl-2 p-lg-3">
                    <div class=" px-3 img border rounded border-0 mx-auto">
                        <img src="assets/icons/Angular.svg" class="fs-1" [attr.width]="isMobile ? 50 : 80" 
                        [attr.height]="isMobile ? 50 : 80"  alt="Angular">
                        <p class="fw-bold language-name language-name text-white">Angular</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row justify-content-center text-center text-white">
            <div class="text-center text-white mb-4">
                <h3 class="text-start fw-light">Testing:</h3>
            </div>
        </div>
        <div class="row justify-content-center text-center">
            <!-- Jest -->
            <div class="col-3 col-md-2 col-lg-1 col-xl-2 p-lg-3">
                <div class="px-1 img border rounded border-0">
                    <img src="assets/icons/Jest.svg" [attr.width]="isMobile ? 50 : 80" 
                        [attr.height]="isMobile ? 50 : 80"  alt="Jest">
                    <p class="fw-bold language-name language-name text-white">Jest</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center text-center text-white">
                <div class="text-center text-white mb-4">
                    <h3 class="text-start fw-light">Gestión de datos y otras herramientas:</h3>
                </div>
            </div>
            <div class="row justify-content-center text-center">
                <!-- Redux -->
                <div class="col-3 col-md-2 col-lg-1 col-xl-2 p-lg-3">
                    <div class="px-1 img border rounded border-0">
                        <img src="assets/icons/Redux.svg" [attr.width]="isMobile ? 50 : 80" 
                        [attr.height]="isMobile ? 50 : 80"  alt="Redux">
                        <p class="fw-bold language-name language-name text-white">Redux</p>
                    </div>
                </div>
                <!-- Postman -->
                <div class="col-3 col-md-2 col-lg-1 col-xl-2 p-lg-3">
                    <div class="px-1 img border rounded border-0">
                        <img src="assets/icons/Postman.svg" [attr.width]="isMobile ? 50 : 80" 
                        [attr.height]="isMobile ? 50 : 80"  alt="Postman">
                        <p class="fw-bold language-name language-name text-white">Postman</p>
                    </div>
                </div>
                <!-- Xcode -->
                <div class="col-3 col-md-2 col-lg-1 col-xl-2 p-lg-3">
                    <div class="px-1 img border rounded border-0">
                        <img src="assets/icons/Xcode.svg" [attr.width]="isMobile ? 50 : 80" 
                        [attr.height]="isMobile ? 50 : 80"  alt="Xcode">
                        <p class="fw-bold language-name language-name text-white">Xcode</p>
                    </div>
                </div>
                <!-- Android Studio -->
                <div class="col-3 col-md-2 col-lg-1 col-xl-2 p-lg-3">
                    <div class="px-1 img border rounded border-0">
                        <img src="assets/icons/Android_Studio.svg" [attr.width]="isMobile ? 50 : 80" 
                        [attr.height]="isMobile ? 50 : 80"  alt="Android Studio">
                        <p class="fw-bold language-name language-name text-white">Android Studio</p>
                    </div>
                </div>
                <!-- Visual Studio -->
                <div class="col-3 col-md-2 col-lg-1 col-xl-2 p-lg-3">
                    <div class="px-1 img border rounded border-0">
                        <img src="assets/icons/Visual.svg" [attr.width]="isMobile ? 50 : 80" 
                        [attr.height]="isMobile ? 50 : 80"  alt="Visual Studio">
                        <p class="fw-bold language-name language-name text-white">Visual Studio</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center text-center text-white">
                <div class="text-center text-white mb-4">
                    <h3 class="text-start fw-light">Control de versiones:</h3>
                </div>
            </div>
            <div class="row justify-content-center text-center">
                <!-- Git -->
                <div class="col-3 col-md-2 col-lg-1 col-xl-2 p-lg-3">
                    <div class="px-1 img border rounded border-0">
                        <img src="assets/icons/Git.svg" 
                        [attr.width]="isMobile ? 50 : 80" 
                        [attr.height]="isMobile ? 50 : 80" 
                        alt="Git">
                        <p class="fw-bold language-name language-name text-white">Git</p>
                    </div>
                </div>
                <!-- GitHub -->
                <div class="col-3 col-md-2 col-lg-1 col-xl-2 p-lg-3">
                    <div class="px-1 img border rounded border-0">
                        <img src="assets/icons/GitHub.svg"
                        [attr.width]="isMobile ? 50 : 80" 
                        [attr.height]="isMobile ? 50 : 80"  
                        alt="GitHub">
                        <p class="fw-bold language-name language-name text-white">GitHub</p>
                    </div>
                </div>
                <!-- GitLab -->
                <div class="col-3 col-md-2 col-lg-1 col-xl-2 p-lg-3">
                    <div class="px-1 img border rounded border-0 mx-auto">
                        <img src="assets/icons/GitLab.svg" 
                        [attr.width]="isMobile ? 50 : 80" 
                        [attr.height]="isMobile ? 50 : 80" 
                        alt="GitLab">
                        <p class="fw-bold language-name language-name text-white">GitLab</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="row text-center text-white">
                <div class="text-center text-white mb-4">
                    <h3 class="text-start fw-light">Diseño y maquetación:</h3>
                </div>
            </div>
            <div class="row justify-content-center text-center">
                <!-- Bootstrap -->
                <div class="col-3 col-md-2 col-lg-1 col-xl-2 p-lg-3">
                    <div class="px-1 img border rounded border-0">
                        <img src="assets/icons/Bootstrap.svg" 
                        [attr.width]="isMobile ? 50 : 80" 
                        [attr.height]="isMobile ? 50 : 80" 
                        alt="Bootstrap">
                        <p class="fw-bold language-name language-name text-white">Bootstrap</p>
                    </div>
                </div>
                <!-- Material UI -->
                <div class="col-3 col-md-2 col-lg-1 col-xl-2 p-lg-3">
                    <div class="px-1 img border rounded border-0">
                        <img src="assets/icons/MaterialUI.svg" 
                        [attr.width]="isMobile ? 50 : 80" 
                        [attr.height]="isMobile ? 50 : 80" 
                        alt="Material UI">
                        <p class="fw-bold language-name language-name text-white">Material UI</p>
                    </div>
                </div>
                <!-- Tailwind CSS -->
                <div class="col-3 col-md-2 col-lg-1 col-xl-2 p-lg-3">
                    <div class="px-1 img border rounded border-0">
                        <img src="assets/icons/Tailwind CSS.svg" 
                        [attr.width]="isMobile ? 50 : 80" 
                        [attr.height]="isMobile ? 50 : 80"  
                        alt="Tailwind CSS">
                        <p class="fs-8 fw-bold language-name language-name text-white">Tailwind</p>
                    </div>
                </div>
                <!-- SASS -->
                <div class="col-3 col-md-2 col-lg-1 col-xl-2 p-lg-3">
                    <div class="px-1 img border rounded border-0">
                        <img 
                    src="assets/icons/Sass.svg" 
                    [attr.width]="isMobile ? 50 : 80" 
                    [attr.height]="isMobile ? 50 : 80" 
                    alt="SASS">

                        <p class="fw-bold language-name language-name text-white">SASS</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>