<div class="vw-100" id="about">
    <div class="container">
        <div class="row justify-content-center text-center text-white">
            <div class="text-center text-white mb-4">
                <h2 class="fw-bold text-white fs-1">Habilidades técnicas</h2>
                <h3 class="text-start fw-light">Lenguajes</h3>
            </div>
        </div>
        <div class="row text-center justify-content-center">
            <!-- JavaScript -->
            <div class="col-md-2 col-4 mb-3">
                <div class="px-3 border rounded border-0">
                    <img src="../../../../assets/icons/javascript.svg" class="fs-1 img-fluid" width="80" height="80" alt="JavaScript">
                    <p class="fw-bold text-white">JavaScript (ES6+)</p>
                </div>
            </div>
            <div class="col-md-2 col-4 mb-3">
                <div class="px-3 border rounded border-0">
                    <img src="../../../../assets/icons/typescript.svg" class="fs-1 img-fluid" width="80" height="80" alt="TypeScript">
                    <p class="fw-bold text-white">TypeScript</p>
                </div>
            </div>
            <!-- Dart -->
            <div class="col-md-2 col-4 mb-3">
                <div class="px-3 border rounded border-0">
                    <img src="../../../../assets/icons/dart.svg" class="fs-1 img-fluid" width="80" height="80" alt="Dart">
                    <p class="fw-bold text-white">Dart</p>
                </div>
            </div>
            <!-- PHP -->
            <div class="col-md-2 col-4 mb-3">
                <div class="px-3 border rounded border-0">
                    <img src="../../../../assets/icons/php.svg" class="fs-1 img-fluid" width="80" height="80" alt="PHP">
                    <p class="fw-bold text-white">PHP</p>
                </div>
            </div>
            <!-- HTML5 -->
            <div class="col-md-2 col-4 mb-3">
                <div class="px-3 border rounded border-0">
                    <img src="../../../../assets/icons/html-5.svg" class="fs-1 img-fluid" width="80" height="80" alt="HTML5">
                    <p class="fw-bold text-white">HTML5</p>
                </div>
            </div>
            <!-- CSS3 -->
            <div class="col-md-2 col-4 mb-3">
                <div class="px-3 border rounded border-0 mx-auto">
                    <img src="../../../../assets/icons/css3.svg" class="fs-1 img-fluid" width="80" height="80" alt="CSS3">
                    <p class="fw-bold text-white">CSS3</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center text-center text-white">
                <div class="text-center text-white mb-4">
                    <h3 class="text-start fw-light">Frameworks y bibliotecas:</h3>
                </div>
            </div>
            <div class="row justify-content-center text-center">
                <!-- React.js y React-Native -->
                <div class="col-md-2 col-4 mb-3">
                    <div class="px-3 border rounded border-0">
                        <img src="../../../../assets/icons/react-native.svg" class="fs-1" width="80" height="80" alt="React.js y React-Native">
                        <p class="fw-bold text-white">React.js y React-Native</p>
                    </div>
                </div>
                <!-- Flutter -->
                <div class="col-md-2 col-4 mb-3">
                    <div class="px-3 border rounded border-0">
                        <img src="../../../../assets/icons/flutter.svg" class="fs-1" width="80" height="80" alt="Flutter">
                        <p class="fw-bold text-white">Flutter</p>
                    </div>
                </div>
                <!-- Angular -->
                <div class="col-md-2 col-4 mb-3">
                    <div class="px-3 border rounded border-0 mx-auto">
                        <img src="../../../../assets/icons/angularjs.svg" class="fs-1" width="80" height="80" alt="Angular">
                        <p class="fw-bold text-white">Angular</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row justify-content-center text-center text-white">
            <div class="text-center text-white mb-4">
                <h3 class="text-start fw-light">Testing:</h3>
            </div>
        </div>
        <div class="row justify-content-center text-center">
            <!-- Jest -->
            <div class="col-md-2 col-4 mb-3">
                <div class="px-3 border rounded border-0">
                    <img src="../../../../assets/icons/Jest.svg" width="80" height="80" alt="Jest">
                    <p class="fw-bold text-white">Jest</p>
                </div>
            </div>
            <!-- React Testing Library -->
            <div class="col-md-2 col-4 mb-3">
                <div class="px-3 border rounded border-0">
                    <img src="../../../../assets/icons/testing_library.png" width="80" height="80" alt="React Testing Library">
                    <p class="fw-bold text-white">React Testing Library</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center text-center text-white">
                <div class="text-center text-white mb-4">
                    <h3 class="text-start fw-light">Gestión de datos y otras herramientas:</h3>
                </div>
            </div>
            <div class="row justify-content-center text-center">
                <!-- Redux -->
                <div class="col-md-2 col-4 mb-3">
                    <div class="px-3 border rounded border-0">
                        <img src="../../../../assets/icons/Redux.svg" width="80" height="80" alt="Redux">
                        <p class="fw-bold text-white">Redux</p>
                    </div>
                </div>
                <!-- Postman -->
                <div class="col-md-2 col-4 mb-3">
                    <div class="px-3 border rounded border-0">
                        <img src="../../../../assets/icons/Postman.svg" width="80" height="80" alt="Postman">
                        <p class="fw-bold text-white">Postman</p>
                    </div>
                </div>
                <!-- Xcode -->
                <div class="col-md-2 col-4 mb-3">
                    <div class="px-3 border rounded border-0">
                        <img src="../../../../assets/icons/Xcode.svg" width="80" height="80" alt="Xcode">
                        <p class="fw-bold text-white">Xcode</p>
                    </div>
                </div>
                <!-- Android Studio -->
                <div class="col-md-2 col-4 mb-3">
                    <div class="px-3 border rounded border-0">
                        <img src="../../../../assets/icons/Android_Studio.svg" width="80" height="80" alt="Android Studio">
                        <p class="fw-bold text-white">Android Studio</p>
                    </div>
                </div>
                <!-- Visual Studio -->
                <div class="col-md-3 col-4 mb-3">
                    <div class="px-3 border rounded border-0">
                        <img src="../../../../assets/icons/Visual.svg" width="80" height="80" alt="Visual Studio">
                        <p class="fw-bold text-white">Visual Studio</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center text-center text-white">
                <div class="text-center text-white mb-4">
                    <h3 class="text-start fw-light">Control de versiones:</h3>
                </div>
            </div>
            <div class="row justify-content-center text-center">
                <!-- Git -->
                <div class="col-md-2 col-4 mb-3">
                    <div class="px-3 border rounded border-0">
                        <img src="../../../../assets/icons/Git.svg" width="80" height="80" alt="Git">
                        <p class="fw-bold text-white">Git</p>
                    </div>
                </div>
                <!-- GitHub -->
                <div class="col-md-2 col-4 mb-3">
                    <div class="px-3 border rounded border-0">
                        <img src="../../../../assets/icons/GitHub.svg" width="80" height="80" alt="GitHub">
                        <p class="fw-bold text-white">GitHub</p>
                    </div>
                </div>
                <!-- GitLab -->
                <div class="col-md-2 col-4 mb-3">
                    <div class="px-3 border rounded border-0 mx-auto">
                        <img src="../../../../assets/icons/GitLab.svg" width="80" height="80" alt="GitLab">
                        <p class="fw-bold text-white">GitLab</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="row text-center text-white">
                <div class="text-center text-white mb-4">
                    <h3 class="text-start fw-light">Diseño y maquetación:</h3>
                </div>
            </div>
            <div class="row justify-content-center text-center">
                <!-- Bootstrap -->
                <div class="col-md-2 col-4 mb-3">
                    <div class="px-3 border rounded border-0">
                        <img src="../../../../assets/icons/Bootstrap.svg" width="80" height="80" alt="Bootstrap">
                        <p class="fw-bold text-white">Bootstrap</p>
                    </div>
                </div>
                <!-- Material UI -->
                <div class="col-md-2 col-4 mb-3">
                    <div class="px-3 border rounded border-0">
                        <img src="../../../../assets/icons/MaterialUI.svg" width="80" height="80" alt="Material UI">
                        <p class="fw-bold text-white">Material UI</p>
                    </div>
                </div>
                <!-- Tailwind CSS -->
                <div class="col-md-2 col-4 mb-3">
                    <div class="px-3 border rounded border-0">
                        <img src="../../../../assets/icons/Tailwind CSS.svg" width="80" height="80" alt="Tailwind CSS">
                        <p class="fw-bold text-white">Tailwind</p>
                    </div>
                </div>
                <!-- SASS -->
                <div class="col-md-2 col-4 mb-3">
                    <div class="px-3 border rounded border-0">
                        <img src="../../../../assets/icons/Sass.svg" width="80" height="80" alt="SASS">
                        <p class="fw-bold text-white">SASS</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<shared-footer></shared-footer>
