<div class="vw-100 experience-section">
    <div class="container">
        <div class="row d-sm-flex mt-md-2">
            <div class="col-md-4">
                <h2 class="experience-title">Experiencia</h2>
            </div>
            <div class="col-md-8">
                <div class="year">
                    <h1 class="experience-year ">2017 - 2024</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 experience-item">
                <div class="row">
                    <div class="col-md-6 d-flex job-experience">
                        <div class="col-md-1  job-icon">
                            <img src="assets/icons/programacion-web.png" class="fs-1 img-fluid" width="50" height="50" alt="JavaScript">
                        </div>
                        <div class="col-md-11">
                            <h5 class="text-white">Softtek </h5>
                            <p>React Native Developer Octubre 2022 — Agosto 2024</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p>En mi rol como Desarrollador Frontend, participé activamente en el desarrollo y mantenimiento de aplicaciones móviles para iOS y
                            Android. </p>
                    </div>
                </div>
            </div>
            <div class="col-12 experience-item">
                <div class="row">
                    <div class="col-md-6 d-flex">
                        <div class="col-md-1  job-icon">
                            <img src="assets/icons/programacion-web.png" class="fs-1 img-fluid" width="50" height="50" alt="JavaScript">
                        </div>
                        <div class="col-md-11">
                            <h5 class="text-white">MCM Telecom</h5>
                            <p>Ingeniero IT-Operations y desarrollador — Agosto, 2021- Marzo, 2022</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p>Realiza las funciones de atención a tareas y solicitudes, así como mantenimiento y gestión de equipos de la empresa, para reducir los
                            impactos de la red en caso de fallas.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 experience-item">
                <div class="row">
                    <div class="col-md-6 d-flex">
                        <div class="col-md-1  job-icon">
                            <img src="assets/icons/programacion-web.png" class="fs-1 img-fluid" width="50" height="50" alt="JavaScript">
                        </div>
                        <div class="col-md-11">
                            <h5 class="text-white">Waisoft</h5>
                            <p>Developer Frontend— Marzo, 2018- Diciembre 2022 (Freelance)</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p>Adicional como empleado también realizo actividad de freelance.
                        Realice cambios en sitios web y AppMoviles, así como maquetaciones de nuevas propuestas de diseños.
                        Colaboré con los equipos de diseño para garantizar que las soluciones de software mejoraran la experiencia del cliente.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 experience-item">
                <div class="row">
                    <div class="col-md-6 d-flex">
                        <div class="col-md-1  job-icon">
                            <img src="assets/icons/programacion-web.png" class="fs-1 img-fluid" width="50" height="50" alt="JavaScript">
                        </div>
                        <div class="col-md-11">
                            <h5 class="text-white">MCM Telecom</h5>
                            <p>Ingeniero de soporte y desarrollador — Marzo, 2018-Agosto 2021</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p>Empresa de telecomunicaciones enfocada al sector empresarial brindando servicios de; seguridad administrada, DataCenter, Enlaces,
                            SMS, lan to lan, Cloud Firewall y servicios de voz.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 experience-item">
                <div class="row">
                    <div class="col-md-6 d-flex">
                        <div class="col-md-1  job-icon">
                            <img src="assets/icons/programacion-web.png" class="fs-1 img-fluid" width="50" height="50" alt="JavaScript">
                        </div>
                        <div class="col-md-11">
                            <h5 class="text-white">Compusoft</h5>
                            <p>Ingeniero de soporte y desarrollador — Agosto, 2017-enero-2018</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p>Colabore en el desarrollo de un sistema que recopila la información de que se maneja en la empresa, para tener un mejor
                            control de la información referente a las métricas establecidas</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

