<shared-sidebar></shared-sidebar>
<div id="particles-js"></div>
<div class="v">
  <div class="test">
    <router-outlet></router-outlet>
  </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
  const navLinks = document.querySelectorAll('.navbar-nav .nav-link');
  const navbarCollapse = document.querySelector('.navbar-collapse');

  navLinks.forEach(link => {
    link.addEventListener('click', () => {
      if (navbarCollapse.classList.contains('show')) {
        new bootstrap.Collapse(navbarCollapse).toggle();
      }
    });
  });
});

</script>
