/* app.component.css */
#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: -1; /* Asegura que no cubra otros elementos */
}

.v {
  display: flex;
  flex-direction: column;
}

.test {
  flex: 1; /* Deja espacio para el footer */
  position: relative; /* Evita el posicionamiento absoluto si no es necesario */
}
