<div class="vw-100" id="projects">
    <div class="projects-container d-none">
        <h2 class="section-title">Selected Project</h2>
        <h3 class="year-title">2022 - 2023</h3>
        <div class="projects-grid">
          <div class="project-card">
            <img src="assets/images/aeromexico_app.png" alt="Arrowai Industries 2022">
            <h4>Arrowai Industries | 2022</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet massa sed leo molestie ultrices in non mi.</p>
          </div>
          <div class="project-card">
            <img src="assets/images/smsmcm.png" alt="Borcelle 2023">
            <h4>Borcelle | 2023</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet massa sed leo molestie ultrices in non mi.</p>
          </div>
          <div class="project-card">
            <img src="assets/images/CS_Performance.png" alt="Fradel and Spies 2023">
            <h4>Fradel and Spies | 2023</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet massa sed leo molestie ultrices in non mi.</p>
          </div>
        </div>
      </div>
      <div class="projects-container">
        <h2 class="section-title text-white fs-3">Proyectos Relevantes</h2>
      </div>  
      <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
            <div  class="row">
              <div class="images col-md-6 d-none d-lg-flex d-md-flex d-sm-flex">
                <img id="page-aeromexico" src="assets/images/Aeromexico_web.png">
              </div>
              <div class="col-md-6 d-flex justify-content-around">
                <img src="assets/images/aeromexico_app.png" height="288px">
                <img src="assets/images/aeromexico_app1.png" height="288px">
              </div> 
            </div>
            </div>
            <div class="carousel-caption d-sm-flex d-md-block">
              <h5>Proyecto Aeromexico (Softtek)</h5>
              <p>Colabore en el proyecto de Aeromexico en el desarrollo mobile y WEB. 
                Donde en mi rol como Desarrollador Frontend, participé activamente en el 
                desarrollo y mantenimiento de aplicaciones móviles para iOS y
                Android.</p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="d-flex justify-content-center">
                  <img src="assets/images/smsmcm.png" height="288px">
                </div>
              </div>
            </div>
            <div class="carousel-caption  d-sm-flex d-md-block">
              <h5 class="mcm">Sistema de notificacion masiva (MCM Telecom)</h5>
              <p>Desarrollé un sistema web como prototipo que realiza notificaciones masivas por SMS, notificando a los clientes cuando había una falla general. Trabajé como Fullstack, 
                .</p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="d-flex justify-content-center">
                  <img class="img-mcm" src="assets/images/CS_Performance.png" >
                </div>
              </div>
            </div>
            <div class="carousel-caption d-sm-flex d-md-block">
              <h5>SMITER (Compusoft)</h5>
              <p>Desarrollé un sistema de monitoreo y control para un call center. Este sistema obtenía la 
                información de un concentrado diario, lo que inicialmente dificultaba el mantenimiento y control de los datos.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      
</div>


